<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nicolascarraggi.trgrd">

    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".rulesys.RuleSystemService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".rulesys.devices.PebbleCommunicationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nicolascarraggi.trgrd.MainActivity" />
        </activity>
        <activity android:name=".RuleDetailsActivity" />
        <activity android:name=".CreateRuleOpenActivity" />
        <activity android:name=".AddTriggerActivity" />
        <activity android:name=".AddActionActivity" />
        <activity android:name=".CreateLocationActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAhyw7RLsV5caKzejK4ZAjuYD2N3GvczHc" />

        <activity android:name=".LocationDetailsActivity" />
        <activity android:name=".RuleTemplateDetailsActivity" />
        <activity android:name=".CreateRuleFromTemplateActivity" />
        <activity android:name=".ShowRuleTemplatesActivity" />
        <activity android:name=".AddEventFromEventTypeActivity" />
        <activity android:name=".AddStateFromStateTypeActivity" />
        <activity android:name=".AddItemFromTypeActivity" />
        <activity
            android:name=".AddEventOrStateActivity"
            android:label="@string/title_activity_add_event_or_state"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>