<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.nicolascarraggi.trgrd">

<uses-permission android:name="android.permission.RECEIVE_SMS" />

<application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity" android:label="@string/app_name" android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <!--<activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />-->

    <service android:name=".rulesys.RuleSystemService" android:enabled="true" android:exported="true" />
    <service android:name=".rulesys.devices.PebbleCommunicationService" android:enabled="true"
        android:exported="true" />
    <activity android:name="com.example.nicolascarraggi.trgrd.SettingsActivity" android:label="@string/title_activity_settings"
        android:parentActivityName="com.example.nicolascarraggi.trgrd.MainActivity">
        <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.example.nicolascarraggi.trgrd.MainActivity" />
    </activity>
</application>

</manifest>